{% extends "NamBundle:Default:base.html.twig" %}

{% block title %}NamBundle:Product:Index{% endblock %}

{% block body %}
    <h1>Welcome to the Product:Index page</h1>
    <div class="container">
        <h2>Basic Table</h2>
        <p>The .table class adds basic styling (light padding and horizontal dividers) to a table:</p>

        <a href="{{ path('nam_bundle_product_create') }}">Create</a>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.description }}</td>
                        <td>
                            <a href="{{ path('nam_bundle_product_update', {'id':product.id}) }}">Edit</a>
                            <form action="{{ url('nam_bundle_product_delete', { 'id':product.id }) }}" method="post">
                                <input type="hidden" name="token" value="{{ csrf_token('delete_product') }}" />
                                <button type="submit">Delete item</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
